<header class="page-header">
  <h1 class="site-title">
    <a href="/">Amelia Jade
    </a>
  </h1>

  <nav class="site-navigation" aria-label="Main navigation">
    <ul>
      {% for item in site.data.navigation.nav %}
        <li>
          <a href="{{ item.url }}" {% if item.url == page.url or page.url contains item.alturl or page.id == 'home' and item.title == 'Posts' %}class="active"{% endif %}>
            {{ item.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</header>
