/**
 * Base layout styles.
 */

html, body {
  height: 100%;
  width: 100%;
}

main {
  margin: 0 auto;
  max-width: $max-width;
  padding: 4rem 2rem;
  width: 100%;

  @media screen and ( min-width: $lg-screen ) {
    padding: 3rem 4rem;
  }
}

/**
 * Large screen styles.
 */

.site-container {
  @media screen and ( min-width: $lg-screen ) {
    display: grid;
    grid-template-columns: 12rem 1fr;
    grid-template-rows: 1fr auto;
    min-height: 100%;
  }
}
