/**
 * Base typography styles
 */

body {
  color: $black;
  font-family: $serif;
}

h1 {
  font-family: $script;
  font-size: 3.75rem;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 3rem;
}

h2 {
  font-family: $script;
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 3rem;
}

p {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

blockquote {
  border-left: 0.5rem solid lighten( $gray, 40% );
  margin-bottom: 2rem;
  padding: 0.5rem 0 0.5rem 1.5rem;

  p {
    margin-bottom: 0;
  }
}
