/**
 * Base typography styles
 */

body {
  font-family: $serif;
}

h1 {
  font-size: 2.25rem;
  line-height: 1.2;
  margin-bottom: 2.25rem;
}

h2 {
  font-size: 1.65rem;
  margin-bottom: 1.75rem;
}

p {
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 1.25rem;
}
