/**
 * Colors
 */

$white:        #fff;
$black:        #333;
$gray:         #444;

$darklavender: #8169a4;
$orchid:       #ca2fb8;
$queenpink:    #e7c8dd;
$columbiablue: #63a779;
$navy:         #43416b;

/**
 * Fonts
 */

$sans:  'Comfortaa', sans-serif;
$serif: 'Scope One', serif;

/**
 * Sizes
 */

$max-width: 900px;
$lg-screen: 900px;
