/**
 * Blog index page styles
 */

.blog-index-posts {
  padding: 0;

  .post {
    list-style-type: none;
    margin-bottom: 4rem;

    .title {
      background-color: lighten( $navy, 50% );
      color: $black;
      display: block;
      left: -1rem;
      margin-bottom: 1rem;
      padding: 1rem;
      position: relative;
      text-decoration: none;
      width: 100%;

      &:hover,
      &:focus {
        background-color: lighten( $navy, 42% );
      }

      h2 {
        margin-bottom: 0;
      }
    }
  }
}
