/**
 * Page footer styles.
 */

.page-footer {
  background: lighten( $gray, 10% );
  color: $white;
  font-family: $sans;
  padding: 3rem 0;

  .container {
    margin: 0 auto;
    max-width: $max-width;

    @media screen and ( min-width: $lg-screen ) {
      display: grid;
      grid-template-columns: 2fr 1fr;
    }
  }

  p {
    font-size: 0.9rem;
    line-height: 1.25;
  }

  .footer-social {
    @media screen and ( min-width: $lg-screen ) {
      text-align: right;
    }

    a {
      display: inline-block;
    }

    object {
      pointer-events: none;
      width: 2rem;
    }
  }
}
