/**
 * Pagination styles
 */

.pagination {
  font-family: $script;
  font-weight: bold;
  text-align: center;

  p {
    border-top: 0.5rem solid $gray;
    display: inline-block;
    padding: 1.5rem 0.5rem 0 0.5rem;
  }

  a {
    color: $black;
    text-decoration: none;

    &:hover,
    &:focus {
      background: lighten( $darklavender, 25% );
    }
  }

  .older {
    margin-right: 1rem;
    padding: 0.25rem 0.5rem;
  }

  .newer {
    margin-left: 1rem;
    padding: 0.25rem 0.5rem;
  }

  span.older,
  span.newer {
    color: lighten( $gray, 20% );
    text-decoration: line-through; 
  }
}
