/**
 * Page header styles.
 */

.page-header {
  background: $gray;
  position: fixed;
  width: 100%;

  @media screen and ( min-width: $lg-screen ) {
    display: grid;
    grid-template-columns: 1fr 20rem;
  }

  /* Site title */

  .site-title {
    font-weight: normal;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    position: relative;
    text-align: center;
    text-transform: lowercase;
    top: 0.25rem;

    @media screen and ( min-width: $lg-screen ) {
      font-size: 1.5rem;
      margin-bottom: 0;
      margin-left: 0.25rem;
      text-align: left;
    }

    a {
      color: $white;
      text-decoration: none;
    }
  }

  /* Navigation */

  .site-navigation ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0.2rem 0.25rem;

    li {
      margin: 0 1rem;
    }

    li:nth-child( 1 ) a {
      border-bottom: 0.2rem solid $orchid;

      &:hover, &:focus {
        background: $orchid;
      }
    }

    li:nth-child( 2 ) a {
      border-bottom: 0.2rem solid $darklavender;

      &:hover, &:focus {
        background: $darklavender;
      }
    }

    a {
      color: $white;
      display: inline-block;
      font-family: $sans;
      font-size: 0.85rem;
      padding: 0.6rem 0;
      text-align: center;
      text-decoration: none;
      width: 100%;
    }
  }
}
