/**
 * Pagination styles
 */

.pagination {
  border-top: 1px solid lighten( $gray, 30% );
  padding-top: 2rem;

  a {
    border: 1px solid $black;
    color: $black;
    padding: 0.25rem 0.5rem;
    text-decoration: none;

    &:hover,
    &:focus {
      background: $black;
      color: $white;
    }
  }

  .current {
    background-color: $darklavender;
    color: $white;
    padding: 0.25rem 0.75rem;
  }

  .previous {
    margin-right: 0.5rem;
  }

  .next {
    margin-left: 0.5rem;
  }

  span.previous,
  span.next {
    color: lighten( $gray, 20% );
  }
}
