/**
 * Post styles.
 */

.post {
  margin-bottom: 6rem;

  .title {
    color: $black;
    text-decoration: none;
  }

  a.title {
    &:hover, &:focus {
      color: darken( $darklavender, 20% );
    }
  }

  h1.title {
    margin-top: 3rem;
  }

  .date {
    border-bottom: 1px solid lighten( $black, 50% );
    color: darken( $queenpink, 40% );
    font-family: $sans;
    font-size: 1rem;
    margin-bottom: 3rem;
  }
}
