/**
 * Post styles.
 */

.post {
  border-bottom: 1px dashed lighten( $gray, 40% );
  margin-bottom: 4rem;
  padding-bottom: 3rem;

  &:last-child {
    border-bottom: 0;
  }

  .title {
    color: $black;
    text-decoration: none;
  }

  a.title {
    &:hover, &:focus {
      color: darken( $orchid, 20% );
    }
  }

  .date {
    color: darken( $queenpink, 40% );
    font-family: $sans;
    font-size: 0.95rem;
    margin-bottom: 1rem;
  }
}
